mixin form-sign-up-in
		section.sign-up
			.wrapper
				if page.name == 'sign-up'
					form.sign-up-form(method="POST" action="#")
						h2.sign-up-form__title Регистрация
						.form-group--alert
							+alert("Данный email уже занят")(class="alert--danger border-radius-error")
							+alert-email-error
						.form-group--alert
							+alert("Введите email")(class="alert--danger")
						.form-group--alert
							+alert("Введите пароль")(class="alert--danger")
						.form-group
							input.sign-up-form__input(type="text", placeholder='Email' name='Email')
							input.sign-up-form__input(type="password", placeholder='Пароль' name='Pass')
							+button("Регистрация", "#")(class="btn__shadow")
				else
					form.sign-up-form(method="POST" action="#")
						h2.sign-up-form__title Вход на сайт
						.form-group--alert
							+alert("Данный email уже занят")(class="alert--danger border-radius-error")
							+alert-email-error
						.form-group--alert
							+alert("Введите email")(class="alert--danger")
						.form-group--alert
							+alert("Введите пароль")(class="alert--danger")
						.form-group
							input.sign-up-form__input(type="text", placeholder='Email' name='Email')
							input.sign-up-form__input(type="password", placeholder='Пароль' name='Pass')
						.form-group--checkbox
							+checkbox
							a.checkbox__remember(href="#") Забыли пароль 
						+button("Войти", "/works-admin.html")(class="btn__shadow")