// Base settings
$white:  #ffffff;
$black:  #000000;
$yellow: #ffe400;
$blue: 	#367ba4;

// -------------------------------------


// Header
// -------------------------------------
$bg-header: #2a759f;
$color-header: $white;
$color-header-black: $black;
$color-header-description:#81c5ee;
$color-topbar-nav:#ffe400;


// Footer
// -------------------------------------
$bg-footer:#252525;

// Icon font-awesome/
$icon-glass: "\f000";
$icon-plane: "\f1d8";
$icon-hamburger: "\f0c9";
$icon-close: "\f00d";
$icon-edit: "\f044";
$icon-plus: "\f055";
$icon-mail: "\f0e0";
$icon-exit: "\f08b";
$icon-plus: "\f055";
$icon-minus:"\f056";

// Common
$spacer: 1em;

// Typography
// -------------------------------------
$font-family-base: 'Open Sans', sans-serif; 
$font-size-base: 16px; 
$headings-color: inherit;
$headings-font-family: $font-family-base;
$headings-font-weight: 400;
$headings-line-height: 1.1;
$color-link:#037ec6;
$color-li:#037ec6;

// Btn
// -------------------------------------
$btn-bg-blue:#037ec6;
$btn-color-blue:#037ec6;
$btn-bg-white:#ffffff;
$btn-bg-yellow:#ffba00;
$btn-bg-red:#b51919;


// Alert
// -------------------------------------
$alert-danger: #b51919;
$aletr-bg-error:#e0e9ee;
$alert-color-error:#38505e;


// Admin mobile menu
// -------------------------------------
$tabs-label-color:#037ec6;


// Comments
// -------------------------------------
$comment-bg:#eef0f2;
$comment-bg-auth:#f6f7f8;
$comment-date-color:#9b9b9b;

// About
// -------------------------------------
$about-name-color:#037ec6;

// Profile
// -------------------------------------
$profile-info-color-span:#b4bbc2;