include ../mixins/_User
include ../mixins/_button
include ../mixins/_checkbox
include ../mixins/_alert
include ../mixins/_blog
include ../mixins/_work
include ../mixins/_post-page



doctype html
//- Global variables
block vars
//- Template
html(lang= page.language)
  head
    include ../partials/_head

  body(class=`page-${page.name}`)
    block header
    block main
    block footer
    include ../partials/_scripts
