/* Миксин для круглой аватарки */
@mixin circle($w, $h) {
  display: block;
  border-radius:100px;
	width: $w;
	height: $h;
	
}

@mixin avatar($w, $h, $img){
	display: block;
  border-radius:100px;
	width: $w;
	height: $h;
	margin: 0 20px 20px 0;
	background-image: url($img);
	background-size: cover;
	background-position: center;
}