@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  } 
}

.btn{
	display: inline-table;	
	position: relative;
	color:white;
	font-weight: 600;
	font-size: 16px;
	padding: 13px 30px;
	border-radius:50px;
	text-decoration: none;
	margin-right: 12px;
	background:$btn-bg-blue;
	&--yellow{
		@include button-bg($btn-bg-yellow);
	}
	&__shadow{
		color:$btn-color-blue;
		background: $btn-bg-white;
		box-shadow:0 6px  16px rgba(23,50,66,0.75);
	}
	&__post{
		color:$btn-color-blue;
		background: $btn-bg-white;
		border:2px solid #dde8ee;
	}
	&__pref{
		color:$btn-color-blue;
		background: $btn-bg-white;
		padding-left:40px; 
		border:2px solid #dde8ee;
		&:before{
			content: " ← ";
			position: absolute;
			top: 12px;
			left: 24px;
			color:$btn-color-blue;
		}
	}
	&__next{
		color:$btn-color-blue;
		background: $btn-bg-white;
		border:2px solid #dde8ee;
		padding-right:40px; 
		&:after{
			content: " →";
			position: absolute;
			top: 12px;
			left: 90px;
			color:$btn-color-blue;
		}
	}
}
.btn__small {
	font-size: 13px;
	padding: 6px 16px;
	@include button-bg(#225a79);
	&--admin{
		padding: 8px 16px;
		font-size: 13px;
		font-weight: bold;
		@include button-bg(#a0cce5);
	}
	&--red{
		padding: 8px 16px;
		font-size: 14px;
		font-weight: 600;
		@include button-bg($btn-bg-red);
	}
}


/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	
}