.post-page{
	width: 100%;
	margin-bottom: 60px;
	&__author, &__link, &__date, &__comments-num{
		font-size: 14px;
		font-weight: 600;
		margin-right: 20px;
		line-height: 1.5;
	}
	&__link{
		text-decoration: none;
		color:#037ec6;
	}
	&__date{
		color:#b4bbc2;
	}
	&__img{
		padding: 18px 0 36px 0;
	}
}

.post-title{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 20px;
}

.post-article, .post-nav, .post-commnents, .post-comment-form{
	max-width: 950px;
}

.post-commnents, .post-comment-form{
	width: 100%;
	margin-bottom: 40px;
}

.post-article{
	margin-bottom: 40px;
	p{
		line-height: 2;
	}
}
.post-nav{
	display: flex;
	width: 100%;
	flex-wrap:wrap;
	justify-content:space-between;
	margin-bottom: 20px;
	.btn{
		margin-bottom: 20px;
	}
}