.wrapper-nav-user#wrapper-nav
	a.nav-mobile(href="#")
	.user-profile
		.user-profile__avatar
			img.user-profile__img(src="../img/avatar_53x53-kazakov.jpg" alt="avatar")
		.user-profile__wrapper
			span.user-profile__name Емельян Казаков
			span.user-profile__role Пользователь
			.user-profile__btn
				+button("Профиль", "/profile.html")(class="btn__small")
				+button("Вход", "/")(class="btn__small")
	include ../.././_nav.pug

	