.footer-wrapper
	footer.footer
			.footer__copy
				p © Артём Кихтенко
				p 
					| Создано с 
					i.fa.fa-heart.color(aria-hidden="true") 
					|  в 
					span
						a.footer__copy-link(href="http://webcademy.ru") WebCademy.ru
					|  в 2017 году
			.footer__nav
				include ../components/_nav.pug
			.footer__icons
				a.footer__icon(href="#")
							i.fa.fa-vk(aria-hidden="true")
				a.footer__icon(href="#")
							i.fa.fa-twitter(aria-hidden="true")
				a.footer__icon(href="#")
							i.fa.fa-youtube(aria-hidden="true")
				a.footer__icon.active(href="#")
							i.fa.fa-instagram(aria-hidden="true")
				a.footer__icon(href="#")
							i.fa.fa-facebook(aria-hidden="true")
