extends layouts/_default



block vars
  -
    page = {
      language: 'ru',
      name: 'home',
      title: 'admin',
      appTitle: 'Стартовый шаблон',
      description: 'Стартовый шаблон для верстки'
    }

block header
  include partials/_header.pug
   
block main
  include pages/index/_main.pug

block footer
  include partials/_footer.pug
