extends layouts/_default



block vars
  -
    page = {
      language: 'ru',
      name: 'home',
      title: 'guest',
      appTitle: 'Стартовый шаблон',
      description: 'Стартовый шаблон для верстки'
    }

block header
  include partials/_header.pug
 
block main
  section.about
    .wrapper
      .about__img
      .about__author
        h1.about__name Емельян Казаков
        p Я веб разработчик из Казани. Мне 28 лет. Занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
        p Этот сайт я сделал в рамках обучения в школе онлайн обучения WebCademy. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        h3.about__what Что я умею
        p Меня привлекет Frontend разработка, это не только моя работа, но и хобби. Также знаком и могу решать не сложные задачи на Backend.
        p Знаком и использую современный workflow, работаю с репозиториями git и сборкой проекта на gulp.
        +button("Подробнее", "#")(class="btn__post")
  section.last-work
    .wrapper
      p.last-work__title Новые 
        a(href="/work.html") работы
      .last-work-grid
        +work-item("Верстка Landing Page", "work-page.html", "../img/work/work-img-preview.jpg")
        +work-item("Верстка UI набора", "work-page.html", "../img/work/work-img2-preview.jpg")
        +work-item("Верстка интернет-магазина", "work-page.html", "../img/work/work-img3-preview.jpg")
      p.last-work__title Новые записи в 
        a(href="/blog.html") блоге
      .last-work-grid
        +blog-item("Поездка в New York", "../img/blog/blog-img2-preview.jpg", "blog-page.html")
        +blog-item("Что я делал в долине", "../img/blog/blog-img3-preview.jpg", "blog-page.html")
        +blog-item("Как я ходил в поход этим летом", "../img/blog/blog-img4-preview.jpg", "blog-page.html")

block footer
  include partials/_footer.pug
