extends layouts/_default



block vars
  -
    page = {
      language: 'ru',
      name: 'ui',
      title: 'UI-KIT',
      appTitle: 'Стартовый шаблон',
      description: 'Стартовый шаблон для верстки'
    }

block header
  include partials/_header.pug
   
block main
  .wrapper
    h1(class='div-class')= page.title
    .ui-kit
      .ui-kit__name Типографика
      section.typography
        aside.ui-kit__aside
          h1 Заголовок 1
          h2 Заголовок 2
          h3 Заголовок 3
          h4 Заголовок 4
          h5 Заголовок 5
          h6 Заголовок 6
        main.ui-kit__main
            p 
              | Парк находится в горах 
              a(href="#") Сьерра-Невада 
              | на востоке штата Калифорния и занимает огромную даже для Америки площадь, около 3000 кв. км. 
            p 
              | Центром парка является долина 
              a(href="#") Йосемити
              |, круглый год переполненная туристами, зато в большей части парка никаких туристов нет. Если вы хотите погулять по территории парка, к вашим услугам огромная разветвлённая система троп, по которым проложены маршруты длительностью от получаса до нескольких дней. Ко всем этим прелестям бесплатно прилагаются животные и птицы. 
            ul
              li Первый пункт
              li Второй пункт. Если вы хотите погулять по территории парка, к вашим услугам огромная разветвлённая система троп, по которым проложены маршруты длительностью от получаса до нескольких дней. 
              li Третий пункт
      .ui-kit__name Кнопки
      section.button
        aside.ui-kit__aside
        main.ui-kit__main
          +button("Сохранить", "#")(class="btn")
          +button("Отмена", "#")(class="btn__post")
          +button("Читать", "#")(class="btn__post")
          +button("Назад", "#")(class="btn__pref")
          +button("Вперед", "#")(class="btn__next")
          +button("Подробнее", "#")(class="btn__post")
          +button("Редактировать", "#")(class="btn--yellow")
          +button("Добавить пост", "#")(class="btn--yellow")
          +button("Удалить", "#")(class="btn__small--red")
          +button("Пользователь", "#")(class="btn__small--admin")
          +button("Войти", "#")(class="btn__shadow")
          +button("Регистрация", "#")(class="btn__shadow")
      .ui-kit__name Вспомогательные элементы
      section.elements
        aside.ui-kit__aside
        main.ui-kit__main
          .elements__checkbox
            +checkbox
          .elements
            .elements__avatar--big
            .elements__avatar--small
          .row
            .col
              +alert("Введите email")(class="alert--danger")
          .row
            .col-full
              +alert("Комментарий не может быть пустым.")(class="alert--danger")
          .row
            .col
              +alert("Данный email уже занят")(class="alert--danger border-radius-error")
              +alert-email-error
            .col
              +alert("Неверный email или пароль")(class="alert--danger border-radius-error")
              +alert-email-pass-error
      .ui-kit__name Компонтенты
      section.components
        aside.ui-kit__aside
        main.ui-kit__main
          .components
            .components__item
              p.ui-kit__subname Карточка - Пост в блоге
              +blog-item("Поездка в New York пример длинного названия поста ...", "../img/blog/blog-img-preview.jpg", "blog-page.html")
            .components__item
              p.ui-kit__subname Карточка - Работа в Портфолио
              +work-item("Верстка Landing Page", "work-page.html", "../img/work/work-img-preview.jpg")
          .components
            p.ui-kit__subname Пост в блоге - Полный
              +post-page
          .components
            p.ui-kit__subname Оставить комментарий
            h2 Оставить комментарий
            +comment-form("Артем Кихтенко")
          .components
            p.ui-kit__subname Комментарии
            h2 2 комментария
            +comment("Джон До", "Замечательный парк, обязательно отправлюсь туда этим летом.")
            +comment("Джон До", "Замечательный парк, обязательно отправлюсь туда этим летом.")
          .components
            p.ui-kit__subname Комментарий - Зарегистрироваться
            +comment-auth
          .components
            p.ui-kit__subname Сообщение от пользователя
            +comment-user

block footer
  include partials/_footer.pug
