extends layouts/_default

block vars
  -
    page = {
      language: 'ru',
      name: 'home',
      title: 'user',
      appTitle: 'Стартовый шаблон',
      description: 'Стартовый шаблон для верстки'
    }

block header
  include partials/_header.pug

block main
  h1 USER

block footer
  include partials/_footer.pug
