.header{
	width: 100%;
	height: 200px;
	background-image: url("../img/bg-img-header-big.jpg");
	background-repeat: no-repeat;
	background-color: $bg-header;
	background-position:left;
}

.header--work{
	width: 100%;
	height: 200px;
	.logo-wrapper{
		.logo{
			&__name{
				color:black;
			}
			&__description{
				color:black;	
			}
		}
	}
}


/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.header, .header--work{
		display: flex;
		flex-direction:row;
  	flex-wrap:wrap;
  	
	}
}