nav.nav
	a.nav__item.active(href="/") Главная
	a.nav__item(href="/user.html") Юзер
	a.nav__item(href="/admin.html") Админ
	a.nav__item(href="/ui-kit.html") UI-KIT
	a.nav__item(href="/contact.html") Контакты