nav.nav
	a.nav__item.active(href="/") Главная
	a.nav__item(href="/about.html") Обо мне
	a.nav__item(href="/works-admin.html") Работы
	a.nav__item(href="/posts-admin.html") Блог
	a.nav__item(href="/contact.html") Контакты
