
.wrapper{
	padding: 30px 16px;
	margin: 0 auto;
  display: flex;
	flex-direction: column;
	width: 100%;
}

img {
  width: 100%;
  height: auto;
}

a[href$=".pdf"]{
	text-decoration: underline;
}







/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	.wrapper{
		padding: 30px 16px;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.wrapper{
		display: flex;
		flex-direction:row;
		flex-wrap:wrap;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width : 992px) {
	.wrapper{
		padding:80px 20px;
		max-width: 1140px;
	}
}