.form-group{
	margin-bottom: 30px;
	&--float{
		float: left;
		margin: 0 30px 30px 0;
	}	
	&--alert{
		display: none;
	}
	&--checkbox{
		text-align: left;
		position: relative;
		margin-bottom: 10px;
		@include checkbox;
	}
}
.form-group--checkbox .checkbox-label{
	display: inline-block;
	color:#ffffff;
	font-weight: 400;
	
}

label{
  display:block;
  font-weight: bold;
  color:#222222;
  margin-bottom: 10px;
}
textarea, input{
	overflow: auto;
	outline:none;	
	border-radius: 4px;
	 -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}
input[type="text"], textarea{
	max-width: 100%;
	border:1px solid #b1bfc7;
	padding-left: 16px;
}
/* Стили для input[type="file"] */
.inputfile{
	position: absolute;
	overflow: hidden;
	z-index: -1;
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
}
.inputfile + label[for="upload"] {
	cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  background: #b1bfc7;
  padding: 14px 12px;
  border-radius:6px; 
  color:white;
	@include button-bg(#b1bfc7)
}

 textarea{
 	padding: 16px;
 	resize: none; 
 }



:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

::-webkit-input-placeholder {color:rgba(56,55,55, .5);}
::-moz-placeholder          {color:rgba(56,55,55, .5);}/* Firefox 19+ */
:-moz-placeholder           {color:rgba(56,55,55, .5);}/* Firefox 18- */
:-ms-input-placeholder      {color:rgba(56,55,55, .5);}

