.ui-kit{
	&__name{
		width: 100%;
		font-size: 32px;
		margin-bottom:50px;
	}
	&__subname{
		width: 100%;
		font-size: 20px;
		margin-bottom:40px;
	}
}



.typography, .button, .elements, .components{
	display: flex;
	flex-direction:column;
}



.ui-kit__main{
margin-bottom:40px;
	.btn{
		margin: 0 20px 20px 0;
	}
}
.ui-kit__main{
	.blog-item__desc, .work-item__desc {
		.btn{
			margin: 0;
		}
	}
} 
	

.elements{
	&__avatar--small{
		
		@include avatar(50px, 50px,"../img/avatar_53x53.jpg");
	}
	&__avatar--big{
	
		@include avatar(200px, 200px,"../img/avatar_220x220.jpg");
	}
	&__checkbox{
		position: relative;
		margin-bottom: 40px;
		@include checkbox;
	}
	
}

.components{
	flex-wrap: wrap;
	margin-bottom: 40px;
	.components__item{
		
	}
}



textarea.comments__textarea{
	width: 100%;
	max-width: 100%;
	display: block;
	border: 2px solid #e0e9ee;	
	height: 100px;
	width: 100%;
	 resize: none;
	margin-bottom: 10px;
	-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}




/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.typography, .button, .elements, .components{
		display: flex;
		flex-direction:row;
		.ui-kit__aside{
			width: 28%;
		}
		.ui-kit__main{
				width: 72%;
		}
		.components{
			justify-content:space-between;
		}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width : 992px) {
	
}
}