.ui-kit{
	&__name{
		width: 100%;
		font-size: 32px;
		margin-bottom:50px;
	}
}



.typography, .button, .elements{
	display: flex;
	flex-direction:column;
}



.ui-kit__main{
margin-bottom:40px;
	.btn{
		margin: 0 20px 20px 0;
	}
}


.elements{
	&__avatar--small{
		float: left;
		@include avatar(50px, 50px,"../img/avatar_53x53.jpg");
	}
	&__avatar--big{
		float: left;
		@include avatar(200px, 200px,"../img/avatar_220x220.jpg");
	}
	&__checkbox{
		position: relative;
		margin-bottom: 40px;
		@include checkbox
	}
}


/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.typography, .button, .elements{
		display: flex;
		flex-direction:row;
		.ui-kit__aside{
			width: 28%;
		}
		.ui-kit__main{
				width: 72%;
		}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width : 992px) {
	
}
}