.wrapper
	h1(class='div-class')= page.title
	a(class='button' href="#") Заголовок второго порядка
	h3 Заголовок третьего порядка
	h4 Заголовок четвертого порядка
	h5 Заголовок пятого порядка
	h6 Заголовок шестого порядка

